aws_access_key_id     = "<aws-access-key-id>"
aws_secret_access_key = "<aws-secret-access-key>"
aws_profile           = "<aws-profile>"
aws_region            = "<aws-region>"
s3_bucket             = "<s3-bucket>"
s3_key                = "<s3-key>"
version               = "<cal-ver>"
