<footer class="footer-content">
  <div class="columns">
    <div class="column is-1"><a target="_blank" href="https://sites.google.com/view/tech-workers-coalition/learning-club">Learning Club</a></div>
    <div class="column is-1"><a href="https://www.techworkerscoalition.org/community-guide/">Community Guide</a></div>
    <div class="column is-1"><a target="_blank" href="https://medium.com/tech-workers-coalition">Medium Blog</a></div>
    <div class="column is-1"><a target="_blank" href="https://twitter.com/techworkersco">Twitter</a></div>
    <div class="column is-1"><a target="_blank" href="https://www.facebook.com/TechWorkersCoalition">Facebook</a></div>
  </div>
</footer>
