<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boston TWC</title>
  <meta name="description" content="A coalition of tech industry workers, labor organizers, community organizers, and friends cultivating solidarity among all workers in tech.">
  <link rel="stylesheet" href="https://www.techworkerscoalition.org/assets/css/normalize.css">
  <link rel="stylesheet" href="https://www.techworkerscoalition.org/assets/css/main.css">
  <link rel="canonical" href="https://boston.techworkerscoalition.org/">
  <link rel="alternate" type="application/rss+xml" title="Tech Workers Coalition" href="/feed.xml">
  <link rel="shortcut icon" href="https://www.techworkerscoalition.org/assets/favicon2.png" type="image/x-icon">
  <link rel="icon" href="https://www.techworkerscoalition.org/assets/favicon2.png" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    .flyer {
      //max-height: 544px;
      max-width: 840px;
      margin: auto;
      overflow: hidden;
    }
    .flyer img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
    .calendar {
    }
    .calendar iframe {
      display: block;
      margin: auto;
      max-width: 840px;
    }
  </style>
</head>
