<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>

  <body>
    <div class="main-wrapper">

      <%- include header.ejs %>

      <main>
        <h1>Boston Tech Workers Coalition</h1>

        <!--
        <div class="flyer">
          <a href="https://s3.amazonaws.com/boston.techworkerscoalition.org/website/assets/event-2018-12-11.png">
            <img alt="TWC event" src="https://s3.amazonaws.com/boston.techworkerscoalition.org/website/assets/event-2018-12-11.png"></img>
          </a>
        </div>
        -->

        <div class="calendar">
          <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=128&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=uqr1emskpd1iochp7r1v8v0nl8%40group.calendar.google.com&amp;color=%23B1440E&amp;ctz=America%2FNew_York" style="border-width:0" frameborder="0" scrolling="no" width="100%"/>
        </div>

      </main>
    </div>

    <%- include footer.ejs %>

  </body>
</html>
