<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>

  <body>
    <div class="main-wrapper">

      <%- include header.ejs %>

      <main class="container">
        <h1>No Phone Zone</h1>

        <p>
          Unfortunately the subscription link for Google Calendar will only
          work from a laptop or desktop computer. If you are on your phone or
          tablet, bookmark this page and re-visit from a personal computer.
        </p>
      </main>

    </div>

    <%- include footer.ejs %>

  </body>
</html>
