<footer>
  <div class="contain">
    <img
      class="marg-b-2"
      alt
      src="/assets/img/logo.svg"
      height="40"
      width="40"/>
    <ul class="d:flex flex-wrap d:flex-row justify-center list-style-none">
      <li class="d:c-1/3 marg-b-3 d:marg-r-3"><a href="/subscribe">Join the Slack</a></li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3"><a href="/community-guide/">Community Guide</a></li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        <a href="https://news.techworkerscoalition.org/subscribe/">Newsletter</a>
      </li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        <a
          href="https://sites.google.com/view/tech-workers-coalition/learning-club"
          nofollow
          noreferrer
          target="_blank">
          Learning Clubs

          <img
            alt
            src="/assets/img/external.svg"
            height="14"
            width="14"/>
        </a>
      </li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        <a
          href="https://medium.com/tech-workers-coalition"
          nofollow
          noreferrer
          target="_blank">
          Medium

          <img
            alt
            src="/assets/img/external.svg"
            height="14"
            width="14"/>
        </a>
      </li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        <a
          href="https://twitter.com/techworkersco"
          nofollow
          noreferrer
          target="_blank">
          Twitter

          <img
            alt
            src="/assets/img/external.svg"
            height="14"
            width="14"/>
        </a>
      </li>

      <li class="d:c-1/3 marg-b-3 d:marg-r-3">
        <a
          href="https://www.facebook.com/TechWorkersCoalition"
          nofollow
          noreferrer
          target="_blank">
          Facebook

          <img
            alt
            src="/assets/img/external.svg"
            height="14"
            width="14"/>
        </a>
      </li>
    </ul>
  </div>
</footer>
