<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Boston TWC</title>
  <meta name="description" content="A coalition of tech industry workers, labor organizers, community organizers, and friends cultivating solidarity among all workers in tech.">
  <!--
  <link rel="stylesheet" href="https://www.techworkerscoalition.org/assets/css/normalize.css">
  <link rel="stylesheet" href="https://www.techworkerscoalition.org/assets/css/main.css">
  -->
  <style>

    header{padding-top:0.25em;padding-bottom:0.25em}@media screen and (max-width: 420px){header{padding:0.25em}}.header{position:fixed;box-shadow:2px 0 10px rgba(0,0,0,0.2);width:100%;background-color:white;z-index:9;display:flex;justify-content:space-between}.header .logo{background-color:none;background-image:url("/assets/css/images/favicon2.png");float:left;font-size:1.75em;line-height:1em;height:58px;margin:0;padding:0;position:relative;text-indent:-99999px;width:58px;margin-top:0.25em;margin-left:1em}@media screen and (max-width: 420px){.header .logo{background-size:cover;margin-left:0.25em}}.header .logo a{text-decoration:none;padding-top:1.25em;padding-left:0.1em;position:absolute;top:0;bottom:0;left:0;right:0}.header .supporting-links{font-size:1.125em;float:right;list-style-type:none;padding:0;display:inline-flex;margin-right:1em}@media screen and (max-width: 420px){.header .supporting-links{font-size:1em;display:block;text-align:right}.header .supporting-links li:nth-child(2){display:none}.header .supporting-links li:nth-child(1){display:none}}.header .supporting-links a{text-decoration:none}.header .supporting-links a:link{color:#212121}.header .supporting-links a:visited{color:#212121}.header .supporting-links a:hover{color:#e6141b}.header .supporting-links a:focus{color:#e6141b}.header .supporting-links a:active{color:#212121}.header .supporting-links li{text-transform:uppercase;font-weight:600;margin:auto;padding-left:1em;padding-right:1em}.header .supporting-links li:nth-child(3) a{background-color:#212121;color:white;padding:8px 25px;border-radius:100px}.header .supporting-links li:nth-child(3) a:hover{background-color:#e6141b}.header .work{font-weight:100;margin-left:1em;display:-webkit-inline-box;text-transform:uppercase;text-decoration:none;font-size:24px;color:#e6141b}@media screen and (max-width: 915px){.header .work{display:none}}.header .work span{font-weight:600;color:#212121}.home-page .column.is-1{min-width:200px}.home-page #home{margin:2em auto 3em}.home-page #home span{color:#E6141B}.home-page #learn::before,.home-page #connect::before{display:block;content:" ";margin-top:-6em;height:6em;visibility:hidden;pointer-events:none}body{background-color:#fff;font-family:'Avenir', sans-serif;font-size:1.25em;letter-spacing:normal;margin:0;padding:0}.columns{display:flex;flex-wrap:wrap}.columns .column{padding:0 10px}.column.is-1{flex:1}.column.is-2{flex:2}.column.is-3{flex:3}.main-wrapper{background-color:#fff;color:#020e0f;margin-bottom:5em}.main-wrapper main{max-width:1800px;margin:0 auto}.main-wrapper a:link{color:#E6141B}.main-wrapper a:visited{color:#E6141B}.main-wrapper a:hover{color:#212121}.main-wrapper a:focus{color:#212121}.main-wrapper a:active{color:#E6141B}@media screen and (max-width: 420px){.main-wrapper{margin-bottom:1em}}.main-wrapper h1,.main-wrapper h2,.main-wrapper h3,.main-wrapper h4{color:#020e0f}.main-wrapper h2{text-align:center;font-weight:300}input{display:inline-block;margin:10px 0}input[type="submit"]{margin-top:20px;font-weight:500;background-color:#212121;color:white;padding:10px 20px;border-radius:100px;border:none;text-transform:uppercase}input[type="submit"]:hover{background-color:#E6141B}main{padding:6em 5em 2em}@media screen and (max-width: 420px){main{padding:1.5em}}@media screen and (max-width: 760px){main{padding-top:6em !important}}main a{font-weight:500;line-height:1.5em}footer{box-shadow:-2px 0 10px rgba(0,0,0,0.2);background-color:white;position:fixed;bottom:0;width:100%;padding:1em 0}footer .columns{justify-content:center;text-align:center;flex-wrap:wrap}@media screen and (max-width: 420px){footer .columns{display:block}}@media screen and (max-width: 420px){footer{position:relative;box-shadow:none;border-top:1px #212121 solid}footer ul{padding-left:1em}}footer a{font-weight:600;font-size:16px;text-decoration:none}footer a:link{color:#212121}footer a:visited{color:#212121}footer a:hover{color:#E6141B}footer a:focus{color:#E6141B}footer a:active{color:#212121}h1{font-size:3em;text-align:center}@media screen and (max-width: 420px){h1{font-size:1.96875em}}h2{font-size:1.5em}@media screen and (max-width: 420px){h2{font-size:1em}}h3{font-size:1.125em}@media screen and (max-width: 420px){h3{font-size:1.09375em}}h4{font-size:0.875em;font-style:italic}@media screen and (max-width: 420px){h4{font-size:0.765625em;font-style:italic}}h1,h2,h3,h4{margin-bottom:0.5em}blockquote,ol,p,ul{margin-bottom:1em;line-height:1.25em}li{margin-bottom:0.375em}.thumbnail{position:relative;margin-top:20px;padding:2px;background-color:white;border:1px solid grey}.thumbnail img{width:100%}.thumbnail:hover .overlay{opacity:0.8}.thumbnail .overlay{position:absolute;top:0;bottom:0;left:0;right:0;height:100%;width:100%;opacity:0;transition:0.5s ease;background-color:#0d544f}.thumbnail .overlay .text{color:white;font-size:20px;position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);-ms-transform:translate(-50%, -50%)}.join-form div{padding:8px 0}.highlight{background:yellow}.climate-container{margin-left:auto;margin-right:auto;text-align:justify;-ms-text-justify:distribute-all-lines;text-justify:distribute-all-lines}.clear{clear:both}.climate-container img{padding:10px 20px;max-width:220px;vertical-align:top;display:inline-block;display:inline;zoom:1.5;float:left}/*! normalize.css v3.0.2 | MIT License | git.io/normalize */html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:0.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace, monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

  </style>
  <link rel="canonical" href="https://boston.techworkerscoalition.org/">
  <link rel="alternate" type="application/rss+xml" title="Tech Workers Coalition" href="/feed.xml">
  <link rel="shortcut icon" href="https://www.techworkerscoalition.org/assets/favicon2.png" type="image/x-icon">
  <link rel="icon" href="https://www.techworkerscoalition.org/assets/favicon2.png" type="image/x-icon">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <style>
    main.container {
      max-width: 920px;
    }
    .flyer {
      max-width: 580px;
      margin: auto;
      overflow: hidden;
    }
    .flyer img {
      height: auto;
      width: 100%;
      object-fit: contain;
    }
    .red {
      color: #E6141B;
    }

    /* Buttons
    –––––––––––––––––––––––––––––––––––––––––––––––––– */
    .button,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
      display: inline-block;
      height: 38px;
      padding: 0 30px;
      color: #555;
      text-align: center;
      font-size: 11px;
      font-weight: 600;
      line-height: 38px;
      letter-spacing: .1rem;
      text-transform: uppercase;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border-radius: 4px;
      border: 1px solid #bbb;
      cursor: pointer;
      box-sizing: border-box; }
    .button:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    .button:focus,
    button:focus,
    input[type="submit"]:focus,
    input[type="reset"]:focus,
    input[type="button"]:focus {
      color: #333;
      border-color: #888;
      outline: 0; }
    .button.button-primary,
    button.button-primary,
    input[type="submit"].button-primary,
    input[type="reset"].button-primary,
    input[type="button"].button-primary {
      color: #FFF;
      background-color: #33C3F0;
      border-color: #33C3F0; }
    .button.button-primary:hover,
    button.button-primary:hover,
    input[type="submit"].button-primary:hover,
    input[type="reset"].button-primary:hover,
    input[type="button"].button-primary:hover,
    .button.button-primary:focus,
    button.button-primary:focus,
    input[type="submit"].button-primary:focus,
    input[type="reset"].button-primary:focus,
    input[type="button"].button-primary:focus {
      color: #FFF;
      background-color: #1EAEDB;
      border-color: #1EAEDB; }
  </style>
</head>
