<!DOCTYPE html>
<html lang="en">
  <%- include head.ejs %>

  <body>
    <%- include header.ejs %>

    <main class="contain">
      <h1 class="lh-tight marg-b-3">
        <span class="red">No</span> Phone Zone
      </h1>

      <p>
        Unfortunately the subscription link for Google Calendar will only
        work from a laptop or desktop computer. If you are on your phone or
        tablet, bookmark this page and re-visit from a personal computer.
      </p>
    </main>

    <%- include footer.ejs %>

  </body>
</html>
