<header
  class="header flex flex-row fixed w-full"
  role="banner">
  <div class="contain flex flex-row ai-ctr justify-between">
    <div class="flex flex-row ai-ctr">
      <img
        class="marg-r-2 m:hide"
        alt
        src="https://techworkerscoalition.org/assets/img/logo.svg"
        height="30"
        width="30"/>
      <h1 class="title">
        <a href="https://techworkerscoalition.org/">
          Tech

          <span class="black">Workers</span>

          Coalition
        </a>
      </h1>
    </div>

    <div class="flex flex-row ai-ctr">
      <div class="flex flex-row ai-ctr rel marg-r-2">
        <button
          id="langBtn"
          class="flex flex-row ai-ctr"
          role="button">
          <img
            class="marg-r-1"
            alt
            src="https://techworkerscoalition.org/assets/img/globe.svg"
            height="16"
            width="16"/>
          en
        </button>

        <ul
          id="langNav"
          class="navOverlay abs hide list-style-none">
          <li><div class="p-2 border-b-1">English</div></li>

          <li><a href="/ru/">Русский</a></li>

          <li><a href="/it/">Italiano</a></li>
        </ul>
      </div>

      <div class="flex flex-row ai-ctr rel d:hide marg-r-2">
        <button
          id="navBtn"
          class="flex"
          role="button">
          <img
            alt
            src="https://techworkerscoalition.org/assets/img/ham.svg"
            height="20"
            width="20"/>
        </button>

        <ul
          id="nav"
          class="navOverlay abs hide list-style-none"
          role="navigation">
          <li><a href="/subscribe">Join the Slack</a></li>

          <li><a href="/community-guide/">Community Guide</a></li>

          <li><a href="https://news.techworkerscoalition.org/subscribe/">Newsletter</a></li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://sites.google.com/view/tech-workers-coalition/learning-club"
              nofollow
              noreferrer
              target="_blank">
              Learning Clubs

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://medium.com/tech-workers-coalition"
              nofollow
              noreferrer
              target="_blank">
              Medium

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://twitter.com/techworkersco"
              nofollow
              noreferrer
              target="_blank">
              Twitter

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://www.facebook.com/TechWorkersCoalition"
              nofollow
              noreferrer
              target="_blank">
              Facebook

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>
        </ul>
      </div>

      <div class="flex flex-row ai-ctr rel">
        <button
          id="chapterBtn"
          class="flex"
          role="button">
          <img
            alt
            src="https://techworkerscoalition.org/assets/img/local.svg"
            height="18"
            width="13"/>
        </button>

        <ul
          id="chapterNav"
          class="navOverlay abs hide list-style-none"
          role="navigation">
          <li class="p-2 border-b-1">Join a Chapter</li>

          <li><a href="/austin">Austin</a></li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://twitter.com/twc_bangalore"
              nofollow
              noreferrer
              target="_blank">
              Bangalore

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://techworkersberlin.com/"
              nofollow
              noreferrer
              target="_blank">
              Berlin

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li><a href="https://boston.techworkerscoalition.org/">Boston</a></li>

          <li><a href="/chicago">Chicago</a></li>

          <li><a href="/dc">DC</a></li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://www.meetup.com/Tech-Workers-Coalition-LA"
              nofollow
              noreferrer
              target="_blank">
              LA

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li><a href="/london">London</a></li>

          <li><a href="/nyc">NYC</a></li>

          <li><a href="/pdx">PDX</a></li>

          <li class="flex flex-row ai-ctr">
            <a
              href="https://www.meetup.com/TWCSanDiego"
              nofollow
              noreferrer
              target="_blank">
              San Diego

              <img
                alt
                src="https://techworkerscoalition.org/assets/img/external.svg"
                height="14"
                width="14"/>
            </a>
          </li>

          <li><a href="/seattle">Seattle</a></li>

          <li><a href="/sf-bay-area">SF Bay Area</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
